a {color: black;}
h1 {font-size: 32pt; text-align: center;}
h2 {font-size: 20pt; text-align: center;}
h3 {font-size: 14pt;}


#Intro {
    height: 100vh; 
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
