a {color: black;}
body {background-image: url('./images/background.webp');}

h1 {
    color:white; 
    font-family: 'Alegreya Sans SC', sans-serif; 
    font-size: 38pt; 
    font-weight: 500; 
    text-align: center;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif; 
    font-size: 28pt; 
    font-weight: 500; 
    text-align: center;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif; 
    font-size: 18pt; 
    font-weight: 400; 
    margin-left: 15px; 
    margin-bottom: 0px;
}

li {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14pt; 
    margin-left: 20px; 
    margin-bottom: 1px;
}

p {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14pt; 
    margin-left: 30px;
}


#Members {
    background-color: #EAEAEA;                              /* off-white */
}

#Portfolio {
    background-color: #EAEAEA;                              /* off-white */
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fullScreen {
    height: 100vh;                                          /* full height of  viewport */
}
